$primary-color: #f77e7e;
$secondary-color: #4b57a4;
$warning: #caca4c;
$danger: #c92424;

// padding
$initial-padding: 0.25rem;

// Border
$initial-border-thickness: 1px;
$initial-border-radius: 0.25rem;
